/* Increase brand name size */
.navbar-brand {
  font-size: 3rem !important;   /* desktop */
  font-weight: 700;
}

/* Dropdown */

.custom-dropdown .dropdown-menu {
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.custom-dropdown .dropdown-item {
  padding: 10px 18px;
  font-weight: 500;
  transition: 0.3s;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #FE8D00;
  color: #fff;
}

/* Mobile responsive */
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 2rem !important;
  }

  .nav-mobile {
    gap: 10px !important;
  }

  .nav-mobile .nav-link {
    padding: 8px 0 !important;
    font-size: 15px;
  }

  .navbar-collapse {
    padding-top: 10px;
  }

  .navbar .btn {
    margin-top: 10px;
    width: 100%;
  }

  /* Mobile Dropdown */

  .custom-dropdown .dropdown-menu {
    border: none;
    box-shadow: none;
    background: transparent;
    padding: 0;
    margin-left: 10px;
  }

  .custom-dropdown .dropdown-item {
    padding: 8px 0;
    font-size: 14px;
  }

  .custom-dropdown .dropdown-item:hover {
    background: transparent;
    color: #fff;
  }
}